body
{
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  color: #dd2424;
  font-size: 60px;
}

.white-title {
  color: white;
}

.mtext {
  margin: 10% 0%;
}

.title-container-fluid {
  padding-left: 10%;
  padding-bottom: 5%;
}

#section-titre {
  background-color: rgb(28, 29, 30);
  color: white;
}

.text-title {
  font-size: 150px;
  text-align: right;
}

#section-titre h3 {
  text-align: right;
}

.image-titre {
  width: 400px;
  height: 400px;
  position: relative;
  top: 50px;
  transform: rotate(-40deg);
}

#section-about {
  position: relative;
  z-index: 1;
  padding: 3%;
}

#MyPhoto {
  padding: 0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.leaned-colored-box {
  position: relative;
  z-index: -1;
  background-color: #dd2424;
  width: 120%;
  height: 400px;
  left: -60px;
  top: -50px;
  transform: rotate(-10deg);
}

#section-projects {
  position: relative;
  top: -200px;
}

.welcome {
  background-image: url("../assets/bg_dev2.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  text-align: center;
  text-shadow: 3px 3px #000;
  color: white;
  background-attachment: fixed;
}

.welcome h1 {
  font-size: 100px;
}

footer
{
  text-align: center;
}
