body
{
  color: white;
  --bs-body-bg: #111821;
  --bs-body-color: white;
}

.body-shift
{
  margin-left: 17rem;
}

a
{
  color: #4f1196;
  text-decoration: none;
}

a:hover {
  color: #6c51a3;
}

nav span a {
  color: white;
  text-decoration: none;
}

nav span a:hover {
  color: white;
  text-decoration: none;
}

.entete h1
{
  color : #4f1196;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.corps
{
  margin: auto;
  width: 70%;
  padding-bottom: 50px;
}

.my-vertical-navbar
{
  height: 100%;
  width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #4f1196;
}

.my-colored-navbar {
  background-color: #4f1196;
}

.welcome {
  background-image: url("../assets/bg_dev2.jpg");
  background-size: cover;
  background-position: center -250px;
  padding: 40px 20px;
  text-align: center;
  text-shadow: 3px 3px #000;
  color: white;
  background-attachment: fixed;
}

.welcome h1 {
  font-size: 100px;
}

.typed {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid #4f1196; */ /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; */ /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
    /* blink-caret .75s step-end infinite;*/
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4f1196; }
}

footer
{
  text-align: center;
  color: #6a16c9;
}
