body
{
  color: white;
  --bs-body-bg: #111821;
  --bs-body-color: white;
}

.body-shift
{
  margin-left: 17rem;
}

a
{
  color: #4f1196;
  text-decoration: none;
}

a:hover {
  color: #6c51a3;
}

nav span a {
  color: white;
  text-decoration: none;
}

nav span a:hover {
  color: white;
  text-decoration: none;
}

.entete h1
{
  color : #4f1196;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.corps
{
  margin: auto;
  width: 70%;
  padding-bottom: 50px;
}

.my-vertical-navbar
{
  height: 100%;
  width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #4f1196;
}

.my-colored-navbar {
  background-color: #4f1196;
}

footer
{
  text-align: center;
  color: #6a16c9;
}
